MODULE6/redditproblem.class
MODULE6/redditproblem.java
MODULE9/Weareanalog.html
MODULE10/.vs/MODULE 10/v16/.suo
MODULE10/.vs/MODULE 10/v16/TestStore/0/testlog.manifest
MODULE10/__pycache__/Rectangle.cpython-36.pyc
MODULE10/__pycache__/Rectangle.cpython-37.pyc
MODULE10/__pycache__/Rectangle.cpython-38.pyc
MODULE10/__pycache__/Rectangle.cpython-39.pyc
MODULE10/MODULE 10.pyproj
MODULE10/MODULE 10.zip
