Python/MODULE6/redditproblem.class
Python/MODULE6/redditproblem.java
Python/MODULE9/Weareanalog.html
Python/MODULE10/.vs/MODULE 10/v16/.suo
Python/MODULE10/.vs/MODULE 10/v16/TestStore/0/testlog.manifest
Python/MODULE10/__pycache__/Rectangle.cpython-36.pyc
Python/MODULE10/__pycache__/Rectangle.cpython-37.pyc
Python/MODULE10/__pycache__/Rectangle.cpython-38.pyc
Python/MODULE10/__pycache__/Rectangle.cpython-39.pyc
Python/MODULE10/MODULE 10.pyproj
Python/MODULE10/MODULE 10.zip
Web Design/MERN/my-app/node_modules
Web Design/MERN/node_modules
Web Design/Berkeley/Web Design With HTML5 and CSS3 8E Complete  (Minnick) Data Files