<!DOCTYPE html>
<!-- Created by Jacob Bowe -->

<html lang="en">
    <head>
        <meta charset="UTF-8">
	<meta name='viewport' content='width=device-width, initial-scale=1'>
        <title> Forward Fitness Club </title>
        <link rel='stylesheet' href="css/responsive-styles.css">
    </head>

    <body>
        <div id='container'>
            <header>
                <a href= 'index.html'>
                    <img src="images/ffc_logo.png" alt="Forward Fitness Logo" />
                </a>  
            </header>

            <nav>
                <ul> 
                    <li><a href='index.html'>Home</a></li>
                    <li><a href='about.html'>About Us</a></li>
                    <li><a href='classes.html'>Classes</a></li>
                    <li><a href='nutrition.html'>Nutrition</a></li>
                    <li><a href='contactus.html'>Contact us</a></li>
                </ul>
            </nav>

            <main>
		
		<!-- Home Page Banner -->
		<div class='desktop' id='banner'>
		    <img src='images/homeBanner.jpg' alt='Home Page banner'>
		</div>
		
                <div class ="desktop">
                </div>
		
		<div class="mobile">
                </div>
            </main>

            <footer>
                &copy; Copyright 2020. All Rights Reserved <br>
                Call us today: <a href='tel:+18005552356'> 1-800-555-2536 </a> <br>
                <a href='mailto:forwardfitnessclub.net'> forwardfitness@club.net </a>
                <!-- Typically the basic contact info, and rough sitemap are here , copyright info, etc-->
            </footer>
        </div>
    </body>
</html>
